* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
    height: 80px;
    position: absolute;
    width: 100%;
}
.header-logo {
    height: 50px;
}
.header-left {
    float: left;
}
.header-left h1 {
    font-size: 30px;
    margin-left: 30px;
    color: white;
    padding-top: 5px;
}
.header-right {
    float: right;
    margin-right: 15px;
    text-align: right;
}
.header-right a {
    font-size: 20px;
    padding: 0 15px;
    margin-top: 36px;
    margin-right: 40px;
    color: white;
    text-align: right;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
}
.header-right a:hover {
    color: rgba(255, 255, 0, 1);
}

.top-wrapper {
    background-image: url(https://kotasalt.web.fc2.com/IMG_E2345.JPG);
    background-size: cover;
    height: 640px;
    width: 100%;
}
.top-wrapper p {
    color: #808000;
    font-family: serif;
    text-align: right;
    padding-right: 21px;
}
.top-wrapper h1 {
    color: white;
    text-align: left;
    float: right;
    font-size: 35px;
    margin-left: 20px;
}
.top-wrapper-logo {
    padding-top: 340px;
    padding-right: 80px;
}

.what-wrapper {
    padding-top: 30px;
    margin-top: 30px;
    width: 100%;
}
.contener {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1150px;
    width: 100%;
}
.section-title {
    height: 100px;
    position: relative;
}
.title-left {
    border-right: #696969 solid 2px;
}
.title-left h2 {
    font-size: 30px;
    float: left;
    font-size: 26px;
}
.title-left p {
    color: #808000;
    position: absolute;
    top: 52px;
    font-size: 12px;
    font-family: inherit;
}
.title-right {
    position: absolute;
    float: right;
    top: 33px;
    padding-left: 220px;
}
.what-contents {
    text-align: center;
    height: 1000px;
}
.project-top {
    height: 500px;
}
.project-bottom {
    height: 500px;
}
.project {
    float: left;
    width: 33%;
    text-align: left;
    background-color: white;
    padding: 10px;
}
.project:hover {
    opacity: 0.7;
}
.project img {
    display: block;
    width: 100%;
    height: auto;
}
.project h3 {
    display: inline-block;
    font-size: 21px;
    color: black;
}

.plus {
    height: 120px;
    text-align: center;
    padding-top: 60px;
    background-color: rgba(255, 255, 0, 0.5);
    border-bottom: none;
}
.plus:hover {
    background-color: rgba(255, 255, 0, 1);
}
.plus a {
    color: black;
}

@media(max-width: 1000px) {
  .project {
    width: 50%;
  }
}

@media(max-width: 670px) {
  .project {
    width: 100%;
  }
  .header-right {
    font-size: 18px;
  }
  .top-wrapper h1 {
    font-size: 24px;
  }
  .contener {
    padding: 0 10px;
  }
}
